@model TermProjectAPI.User

@{
    ViewData["Title"] = "Main";
}

@{
    Layout = "MainLayout";
}

<div id="jboPhotoGallery" class="jumbotron jumbotron-fluid" style="margin-top:5rem;">
    <div class="container">
        <div class="row">
            <div class="col">
                <a target="_blank" href="@Model.picture1">
                    <img src="@Model.picture1" alt="Image Unavailable" width="325" height="200">
                </a>
            </div>
            <div class="col">
                <a target="_blank" href="@Model.picture2">
                    <img src="@Model.picture2" alt="Image Unavailable" width="325" height="200">
                </a>
            </div>
            <div class="col">
                <a target="_blank" href="@Model.picture3">
                    <img src="@Model.picture3" alt="Image Unavailable" width="325" height="200">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color:blanchedalmond">
    <div class="container" style="text-align:center;">
        @if (!string.IsNullOrEmpty(Model.profileImage))
        {
            <img src="@Model.profileImage" alt="Profile Image" width="300" height="300">
        }
        <br />
        <br />
        <h1 style="color:darkred">@Model.userAccount.firstName</h1>
        <br />
        <h4>Age: @Model.age</h4>
        <br />
        <h4>@Model.city, @Model.state</h4>
        <br />
        <h4>"@Model.description"</h4>
        <br />
    </div>
    <div class="container" style="text-align:center;">
        <h3 style="color:darkmagenta">About:</h3>
        <br />
        <h4>Height: @Model.height Feet</h4>
        <br />
        <h4>Weight: @Model.weight Pounds</h4>
        <br />
        <h4>Commitment Type: @Model.commitmentType</h4>
        <br />
        <h4>Occupation: @Model.occupation</h4>
        <br />
        <h4>Cat or Dog: @Model.catOrDog</h4>
        <br />
        <h4 style="color:forestgreen">Likes:</h4>
        @foreach (string like in Model.likes)
        {
            <h5> @like</h5>

        }
        <br />
        <h4 style="color:red">Dislikes:</h4>
        @foreach (string dislike in Model.dislikes)
        {
            <h5>@dislike</h5>

        }
        <br />
        <h3 style="color:darkslateblue">Favorites: </h3>
        <br />
        <h4>Restaurant: @Model.restaurant</h4>
        <br />
        <h4>Quote: @Model.quote</h4>
        <br />
        <h4>Book: @Model.book</h4>
        <br />
        <h4>Movie: @Model.movie</h4>
        <br />
        <h3 style="color:fuchsia">2048 Score: @Model.finalScore</h3>

    </div>
    <div class="container" style="text-align:center;">
        <br />
        <br />

        <br />
        <form asp-controller="Profile" asp-action="Back" method="post">
            <button type="submit" class="btn btn-danger" style="width:30%">Back</button>
        </form>


    </div>
</div>
<footer class="bg-dark">
    <div class="container text-light text-center">
        <h5 class="p-5 mb-3">Copyright © 2024 Love Lounge. All rights reserved.</h5>
    </div>
</footer>

