@model List<TermProjectAPI.User>
@{
    ViewData["Title"] = "Matches";
}

@{
    Layout = "MainLayout";
}

<div class="jumbotron jumbotron-fluid" style="background-color:lightpink">   
        <h1 style=" margin-top:5rem;text-align:center; color:darkred">Matches</h1>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color:lightsalmon">
    <div class="container">
        
        @for (int i = 0; i < Model.Count; i++)
        {
           
            var profile = Model[i];
            <div class="jumbotron jumbotron-fluid" style="background-color:lightgoldenrodyellow; padding:5rem;">
            @if (i % 2 == 0)
            {
                // Start a new row
                @:<div class="row">
            }
            
            
                <div id="crdCard" class="card text-center" style=" margin:1rem;border-color:black;">
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(profile.profileImage))
                        {
                            <img src="@profile.profileImage" alt="Profile Image" width="200" height="200">
                        }
                        else
                        {
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png" alt="Stock Image" width="200" height="200">
                        }
                        <h2 style="color:darkred">@profile.userAccount.firstName</h2>

                        <h4>@profile.age</h4>
                    
                        <h4>@profile.city, @profile.state</h4>

                        <p>"@profile.description"</p>


                       <form asp-controller="Matches" asp-action="DateRequest" method="post">
                            <button type="submit" class="btn btn-warning" style="color:white; width:40%">Send Date Request</button>
                       </form>   
                            <br />
                    <form asp-controller="Matches" asp-action="ViewProfile" method="post">
                            <input type="hidden" name="username" value="@profile.userAccount.userName" />
                         
                            <button type="submit" class="btn btn-info" style="color:white">View Profile</button>
                 
                    </form>
                            <br />
                      <form asp-controller="Matches" asp-action="DeleteMatch" method="post">
                          <input type="hidden" name="username" value="@profile.userAccount.userName" />
                           <button type="submit" class="btn btn-danger">Delete</button>


                      </form>
                         <br />
                        <form asp-controller="Dashboard" asp-action="Index" method="post">
                                     <button type="submit" class="btn btn-dark">Home</button>
                            </form>
                    <br />
                </div>
            </div>

            @if (i % 2 == 0 || i == Model.Count - 1)
            {
                // End the current row
                @:</div>
            }
            </div>
        }
    </div>
</div>
        <footer class="bg-dark">
            <div class="container text-light text-center">
                <h5 class="p-5 mb-3">Copyright © 2024 Love Lounge. All rights reserved.</h5>
            </div>
        </footer>
