@model List<TermProjectAPI.User>

@{
    ViewData["Title"] = "Dates";
}

@{
    Layout = "MainLayout";
}

<div class="jumbotron jumbotron-fluid" style="background-color:lightpink">   
        <h1 style=" margin-top:5rem;text-align:center; color:darkred ">Dates</h1>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color:aqua">
    <div class="container">


          <!-- Message if profile was liked-->
                @if (ViewBag.LikedUser != null)
                {
                    <div style="color:lawngreen; padding-top: 1%; margin:0 auto">
                       <h3>Message: @ViewBag.LikedUser</h3> 
                    </div>
                }


        
        @if (Model.Count == 0)
        {
            
        <h2 style="color:white">You Currently Have No Dates, Check Back Soon!</h2>
        <br />
          <form asp-controller="Dashboard" asp-action="Index" method="post">

                          <button type="submit" class="btn btn-dark">Return Home</button>
                      </form>
        
        }

        @for (int i = 0; i < Model.Count; i++)
        {
           
            var profile = Model[i];
            <div class="jumbotron jumbotron-fluid" style="background-color:lightblue; padding:5rem;">
            @if (i % 2 == 0)
            {
                // Start a new row
                @:<div class="row">
            }
            
            
                <div id="crdCard" class="card text-center" style=" margin:1rem;border-color:black;">
                    <div class="card-body">
                        @if (!string.IsNullOrEmpty(profile.profileImage))
                        {
                            <img src="@profile.profileImage" alt="Profile Image" width="200" height="200">
                        }
                        else
                        {
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png" alt="Stock Image" width="200" height="200">
                        }
                        <h2 style="color:darkred">@profile.userAccount.firstName @profile.userAccount.lastName</h2>
                    
                        <h4>@profile.city, @profile.state</h4>

                           <p>Address: @profile.address</p>

                         <p>Phone Number: @profile.phoneNumber</p>

                       

                               
                    <form asp-controller="Dates" asp-action="Date details" method="post" >
                              <input type="hidden" name="username" value="@profile.userAccount.userName" />
                              <input type="hidden" name="name" value="@profile.userAccount.firstName" />
                             <button type="submit" class="btn btn-success">Date Details</button>
                    </form>
                    <br />    

                    <form asp-controller="Date" asp-action="ViewProfile" method="post">
                            <input type="hidden" name="username" value="@profile.userAccount.userName" />
                            <button type="submit" class="btn btn-info" style="color:white">View Profile</button>
                        
                    </form>
                      <br />
                      <form asp-controller="Dashboard" asp-action="Index" method="post">

                          <button type="submit" class="btn btn-dark">Home</button>
                      </form>
                    <br />
                </div>
            </div>

            @if (i % 2 == 0 || i == Model.Count - 1)
            {
                // End the current row
                @:</div>
            }
            </div>
        }
    </div>
</div>
        <footer class="bg-dark">
            <div class="container text-light text-center">
                <h5 class="p-5 mb-3">Copyright © 2024 Love Lounge. All rights reserved.</h5>
            </div>
        </footer>
